@import url(https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet);

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff"),
       url("../fonts/ptsans.woff2"),
       url("../fonts/ptsansbold.woff"),
       url("../fonts/ptsansbold.woff2");
  font-weight: normal;
  font-style: normal;
}
