$menu-padding: 20px;

.main-nav {
  position: relative;

  &__toggle {
    position: absolute;
    top: 17px;
    right: 20px;
    display: block;
    width: 23px;
    height: 21px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;

    &--close {
      background-image: url("../img/icon-cross.png");
    }

    &--open {
      background-image: url("../img/icon-menu-svg.png");
    }
  }

  &__list {
    @include list-init;
    @include colors ($blue, $text-color--light);

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__item {
    margin: 0;
    padding: 0;

    a {
      display: block;
      padding-top:  20px;
      padding-bottom: 20px;
      font-family: $font-family;
      font-size: $font-size--h2;
      font-weight: $headings-weight;
      color: $text-color--light;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
    }

    &:first-child {
      border-top: none;
    }

    &:nth-last-child(1) {
      border-bottom: none;
      background-image: url("../img/menu-shadow.png");
      background-repeat: repeat-x;
      background-position: bottom;
    }

    &--logo {
      position: relative;
      height: 56px;
      overflow: visible;
      border: none;
      background-color: #fff;

      a {
        padding: 0;
      }
    }
  }

  &__logo {
    position: relative;
    z-index: 1;
    @include size(102px, 83px);
  }
}
