.page-footer {
  &__hashtag {
    padding: 40px 0;
    text-align: center;
  }

  &__social {
    text-align: center;
    margin-bottom: 40px;
  }

  &__copyright {
    padding-bottom: 23px;
    text-align: center;
  }
}
