.search-hotel {
  padding-top: 33px;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 49px;
  font-size: $font-size;
  line-height: $line-height;
  text-transform: $text-transform;
  text-align: center;

  &__title {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: $font-size--h1;
  }

  &__text {
    margin-top: 0;
    margin-bottom: 40px;
  }

  .btn-blue {
    width: 100%;
    max-width: 458px;
    padding: 19px 0;
    font-size: $font-size--h1;
  }
}
