.social-links {
  @include list-init;
  font-size: 0;

  &__item {
    display: inline-block;
    vertical-align: top;
    margin-right: 6px;

    &:last-child {
      margin-right: 0;
    }

    .btn {
      font-size: $font-size--h2;
    }
  }
}
