$blue: #81b3d2;
$grey--light: #eee;
$grey--dark: #d6d6d6;

$text-color: #333;
$text-color--light: #fff;

$font-family: "PT Sans", Arial, sans-serif;

$font-size: 1.4rem;
$line-height: 1.5;

$font-size--h1: 2.1rem;
$font-size--h2: 1.8rem;
$font-size--h3: 1.6rem;

$headings-weight: bold;
$headings-line-height: 26/18;

$text-transform: uppercase;
$facilities-icon-size: 40px;
$facilities: (accomodation, food, souvenirs);
