.welcome {
  position: relative;
  margin: 0;
  padding: 0;
  padding-top: 90px;
  padding-bottom: 85px;

  background-image: url("../img/back-mobile-jpg.png");
  background-position: center;
  background-size: cover;

  &_text-welcome {
    display: block;
    margin: 0 auto;
    margin-bottom: 85px;
  }

  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    @include size(100%, 57px);
    background-image: url("../img/intro-triangle.png");
    background-size: auto 100%;
    background-position: center bottom;
  }
}
