.item-reason {
  outline: 1px solid orange;
}

.item-reason__wrapper {
  @include clearfix;
}

.item-reason__content {
  outline: 1px solid blue;

  @media (min-width: $bp-tablet) {
    width: 256px;
    height: 256px;
  }

  @media (min-width: $bp-desktop) {
    width: 400px;
  }
}

.item-reason__content--leftside {
  @media (min-width: $bp-tablet) {
    float: left;
  }
}

.item-reason__content--rightside {
  @media (min-width: $bp-tablet) {
    float: right;
  }
}

.item-reason__content--no-photo {
  @media (min-width: $bp-tablet) {
    float: left;
  }
}
