.review-form {
  @include clearfix;
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px;
  outline: 1px solid purple;

  @media (min-width: $bp-tablet) {
    padding: 0 60px;
  }

  @media (min-width: $bp-desktop) {
    padding: 0 120px;
  }
}

.review-form__text-wrapper {
  text-align: center;

  @media (min-width: $bp-tablet) {
    order: 1;
  }
}

.review-form__compulsory {
  display: none;

  @media (min-width: $bp-tablet) {
    display: inline;
    order: 8;
    margin-left: auto;
  }
}
